{
   "printWidth": 80,
   "bracketSpacing": true,
   "arrowParens": "always",
   "endOfLine": "lf",
   "indent": 2,
   "useTabs": false,
   "tabWidth": 2,
   "singleQuote": true,
   "trailingComma": "es5",
   "jsxBracketSameLine": true,
   "plugins": [
      "prettier-plugin-tailwindcss"
   ]
}